@model BoomGaming.Models.Objective

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Objective</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ObjectiveID" />
            <div class="form-group">
                <label asp-for="GameName" class="control-label"></label>
                <input asp-for="GameName" class="form-control" />
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjectiveName" class="control-label"></label>
                <input asp-for="ObjectiveName" class="form-control" />
                <span asp-validation-for="ObjectiveName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueMin" class="control-label"></label>
                <input asp-for="ValueMin" class="form-control" />
                <span asp-validation-for="ValueMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueAvg" class="control-label"></label>
                <input asp-for="ValueAvg" class="form-control" />
                <span asp-validation-for="ValueAvg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueMax" class="control-label"></label>
                <input asp-for="ValueMax" class="form-control" />
                <span asp-validation-for="ValueMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EarnedPoints" class="control-label"></label>
                <input asp-for="EarnedPoints" class="form-control" />
                <span asp-validation-for="EarnedPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StolentPoints" class="control-label"></label>
                <input asp-for="StolentPoints" class="form-control" />
                <span asp-validation-for="StolentPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
